[Unit]
Description=Fire halium-container-autostart.service 25s after boot (script adds 20s more on the very first boot)

[Timer]
OnBootSec=25s
AccuracySec=1s

[Install]
WantedBy=timers.target
